name: Test suite

on:
  pull_request:
    branches: [ devel ]
  push:
    branches:
      - master
    tags:
      - "[0-9]*.[0-9]*.*[0-9]"

jobs:
  quality-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Code quality checks
        run: make code_quality

  python3_6-django1_11-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test py3.6-dj1.11
        run: |
          docker build --build-arg PYTHON_VERSION=3.6 --build-arg DJANGO_VERSION=1.11 -t native -f Dockerfile-tmpl .
          docker run -e CODECOV_TOKEN=$CODECOV_TOKEN --rm native sh -c 'pytest --cov --cov-report=term-missing && codecov'
        env:
          CODECOV_TOKEN: ${{secrets.codecov_token}}

  python3_6-django2_0-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test py3.6-dj2.0
        run: |
          docker build --build-arg PYTHON_VERSION=3.6 --build-arg DJANGO_VERSION=2.0 -t native -f Dockerfile-tmpl .
          docker run -e CODECOV_TOKEN=$CODECOV_TOKEN --rm native sh -c 'pytest --cov --cov-report=term-missing && codecov'
        env:
          CODECOV_TOKEN: ${{secrets.codecov_token}}

  python3_7-django2_2-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test py3.7-dj2.2
        run: |
          docker build --build-arg PYTHON_VERSION=3.7 --build-arg DJANGO_VERSION=2.2 -t native -f Dockerfile-tmpl .
          docker run -e CODECOV_TOKEN=$CODECOV_TOKEN --rm native sh -c 'pytest --cov --cov-report=term-missing && codecov'
        env:
          CODECOV_TOKEN: ${{secrets.codecov_token}}

  python3_8-django2_2-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test py3.8-dj2.2
        run: |
          docker build --build-arg PYTHON_VERSION=3.8 --build-arg DJANGO_VERSION=2.2 -t native -f Dockerfile-tmpl .
          docker run -e CODECOV_TOKEN=$CODECOV_TOKEN --rm native sh -c 'pytest --cov --cov-report=term-missing && codecov'
        env:
          CODECOV_TOKEN: ${{secrets.codecov_token}}

  python3_9-django3_2-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test py3.9-dj3.2
        run: |
          docker build --build-arg PYTHON_VERSION=3.9 --build-arg DJANGO_VERSION=3.2 -t native -f Dockerfile-tmpl .
          docker run -e CODECOV_TOKEN=$CODECOV_TOKEN --rm native sh -c 'pytest --cov --cov-report=term-missing && codecov'
        env:
          CODECOV_TOKEN: ${{secrets.codecov_token}}

  python3_11-django4_1-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test py3.11-dj4.1
        run: |
          docker build --build-arg PYTHON_VERSION=3.11 --build-arg DJANGO_VERSION=4.1 -t native -f Dockerfile-tmpl .
          docker run -e CODECOV_TOKEN=$CODECOV_TOKEN --rm native sh -c 'pytest --cov --cov-report=term-missing && codecov'
        env:
          CODECOV_TOKEN: ${{secrets.codecov_token}}

  python3_12-django4_2-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test py3.12-dj4.2
        run: |
          docker build --build-arg PYTHON_VERSION=3.12 --build-arg DJANGO_VERSION=4.2 -t native -f Dockerfile-tmpl .
          docker run -e CODECOV_TOKEN=$CODECOV_TOKEN --rm native sh -c 'pytest --cov --cov-report=term-missing && codecov'
        env:
          CODECOV_TOKEN: ${{secrets.codecov_token}}

  publish-pypi:
    needs: [
        quality-checks, python3_6-django1_11-tests,
        python3_6-django2_0-tests, python3_8-django2_2-tests, python3_9-django3_2-tests
    ]
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.9
        uses: actions/setup-python@v1
        with:
          python-version: 3.9
      - name: Build source tarball
        run: python setup.py sdist
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{secrets.pypi_api_token}}
